<h3>Actions</h3>
<ul>
    <li><a href="/portal/@{repository.portal.id}/url-mappings">URL Mappings</a></li>
</ul>
<p>
  <strong>Portal:</strong> @{repository.portal.title}<br>
  <strong>API Key:</strong> @{repository.portal.apiKey}
</p>
