<div class="col-sm-6">
  <h3>Defined Portals</h3>
  <table class="table table-condensed table-striped">
    <tr>
      <th>Hub ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    @{foreach p in model.portals}<tr>
      <td>@{p.hubId}</td>
      <td>@{p.title}</td>
      <td>
        <a href="/portal/@{p.id}" class="btn btn-xs btn-primary">Go to Portal</a>
        <a href="/edit/@{p.id}" class="btn btn-xs btn-info">Edit</a>
        <a href="/delete/@{p.id}" class="btn btn-xs btn-danger" onclick="return confirm('Delete: @{p.title}? (And in doing so, you will delete any associated logs.)')">Delete</a>
      </td>
    </tr>@{end}
  </table>
  <pre>
    @{model.portals}
  </pre>
</div>
<div class="col-sm-6">
  <h3>@{if model.portal.id}Edit@{else}Add@{fi} Portal</h3>
  <form action="/save@{if model.portal.id}/@{model.portal.id}@{fi}" method="POST">
    <div class="form-group">
      <label for="portalTitle">Title</label>
      <input name="title" type="text" class="form-control" id="portalTitle" placeholder="Title" value="@{model.portal.title}">
    </div>
    <div class="form-group">
      <label for="portalApiKey">API Key</label>
      <input name="apiKey" type="text" class="form-control" id="portalApiKey" placeholder="API Key" value="@{model.portal.apiKey}">
    </div>
    <div class="form-group">
      <label for="portalHubId">Hub ID</label>
      <input name="hubId" type="text" class="form-control" id="portalHubId" placeholder="Hub ID" value="@{model.portal.hubId}">
    </div>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
  <pre>
    @{model.portal}
  </pre>
</div>
