@{title('Something awesome')}

<hr />
<br />
<p class="center">
	The node.js framework for all web developers with everything what you need.<br />
	<b>Create something awesome.</b>
</p>
<ul>
@{foreach m in model}
	<li>@{m.alias}</li>
@{end}
</ul>
<div>@{model.length} @{model.length.pluralize('users', 'user', 'users', 'users')}</div>
<br />
<br />
<div class="center"><a href="http://docs.totaljs.com" class="linkbutton">DOCUMENTATION</a></div>
