<div class="col-sm-4">
  @{view('~/portal/actions')}
</div>
<div class="col-sm-8">
  <h3>Mappings</h3>
  <div class="alert alert-danger">
    <h3>Hey you... yeah. Read this paragraph:</h3>
    <p>There is NO warning when you delete items below. I did it this way so that when you click delete, you don't have to click OK on a confirmation dialog. This makes deleting enmasse a lot easier. It also makes it NOTABLY more dangerous. Like, seriously, you can really fuck it up if you don't pay attention to what you're doing. And there's no recourse... once things are gone, they're gone.</p>
  </div>
  <p>Offset: @{model.mappings.offset} - Limit: @{model.mappings.limit} - Total: @{model.mappings.total}</p>
  <form action="/portal/@{repository.portal.id}/url-mappings" method="post">
    <p><button type="submit" class="btn btn-success">Save</button></p>
    <input type="hidden" name="apiKey" value="@{repository.portal.apiKey}">
    <table class="table table-condensed table-striped">
      <tr>
        <th>Delete</th>
        <th>Original</th>
        <th>Destination</th>
        <th>Actions</th>
      </tr>
      @{foreach m in model.mappings.objects}@{if !m.contentGroupId}<tr>
        <td>
          <input type="checkbox" name="mapping[@{m.id}][delete]" value="1">
          <input type="hidden" id="mapping-@{m.id}" name="mapping[@{m.id}][dirty]" value="0">
        </td>
        <td><input type="text" name="mapping[@{m.id}][routePrefix]" data-id="@{m.id}" data-original="@{m.routePrefix}" value="@{m.routePrefix}"></td>
        <td><input type="text" name="mapping[@{m.id}][destination]" data-id="@{m.id}" data-original="@{m.destination}" value="@{m.destination}"></td>
        <td>
          <a href="/portal/@{repository.portal.id}/url-mappings/delete/@{m.id}" class="btn btn-xs btn-danger">Delete</a>
        </td>
      </tr>@{fi}@{end}
    </table>
    <p><button type="submit" class="btn btn-success">Save</button></p>
    <script>
    $('input[type=text]').on('change',function(){
      var self = $(this),
          id = self.data('id');
      if(self.val() !== id){
        $('#mapping-'+id).val(1);
      }else{
        $('#mapping-'+id).val(0);
      }
    })
    </script>
  </form>
</div>
